<!-- project links/images here -->
<div class="wrapper">
    <div class="row">
            <!--
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="#about-me">About me</a></li>
                        <li><a class="nav-link" href="#projects">My projects</a></li>
                        <li><a class="nav-link" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        -->

        <!-- Content that will appear in left side when dropdown link is hovered -->

        <div data-target="navbar-left" data-spy="scroll" data-offset="0" class="col-md-9 justify-content-center" id="content">
            <div id="about-me">
                <h1>About Me</h1>
                <p>I began my journey into computer programing a little less than a year ago. I was looking for something challenging and was turned on to computer programming by my dad. Knowing nothing about programming, I did what most sensible people would have done: I bought a "Programming for Dummies" book. 
                    The book only covered the most fundamental basics of front-end programming, but I was immediately hooked. I loved typing simple HTML and seeing "Hello World" pop up in the browser. I decided I wanted to turn my hobby into a career and signed up for classes at the Coding Dojo. 
                </p>
                <p>
                    The Coding Dojo was hard. There, I learned how to become a full-stack developer with instruction in the morning and building projects in the evening (weekends too). I ended up averaging 60-70 hours a week during my time there. By the end of my course, I was eager to start demonstrating my skills
                    a full-stack developer.
                </p>
            </div>
            <div id="projects">
                <h1>My Projects</h1>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active justify-content-center">
                            <img class="d-block w-100 img-thumbnail" src="assets/events.png" alt="Event project">
                            <h4>Event Project</h4>
                            <div class="w-100"></div>
                            <p>This application allows you to create events and boasts strict validation and unique CSS elements</p>
                        </div>
                        <div class="carousel-item justify-content-center">
                            <img class="d-block w-100 img-thumbnail" src="assets/leads.png"alt="Lead project">
                            <h4>Lead Generator/Manager</h4>
                            <div class="w-100"></div>
                            <p>This project was created with Realtors in mind. Its purpose is to facilitate lead generation through user submission and agent followup.</p>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- form that sends email -->
            <div>
                <h1>Request more information</h1>
            </div>
        </div>        
    </div>
</div>